@model AdminApplication.ViewModels.StoreCreateViewModel

@{
    ViewData["Title"] = "Create Store";
}

<h1>Nieuwe Winkel</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-action="AddStore" asp-controller="Store">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Naam</label>
                <input asp-for="Name" class="form-control" placeholder="voorbeeld: Hema" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiteLink" class="control-label">Website van winkel</label>
                <input asp-for="SiteLink" class="form-control" placeholder="voorbeeld: www.Amazon.nl" />
                <span asp-validation-for="SiteLink" class="text-danger"></span>
            </div>

            <label class="control-label">Upload winkel logo</label>
            <div class="input-group mb-1">
                <div class="custom-file">
                    <input asp-for="LogoFile" class="form-control custom-file-input" />
                    <span asp-validation-for="LogoFile" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Toevoegen" class="btn btn-success" />
                <a class="btn btn-primary" asp-controller="Store" asp-action="StoreIndex">Terug</a>
            </div>

        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
