@model Project_C.Models.StoreModels.Store

@{
    ViewData["Title"] = "Delete Store";
}


<h4>Are you sure you want to delete "@Html.DisplayFor(model => model.Name)"?</h4>


<form asp-action="DeleteStore">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a class="btn btn-primary" asp-action="StoreDetails" asp-route-id="@Model.Id">Back</a>
</form>
