@model Project_C.Models.UserModels.Employee

@{

    ViewData["Title"] = "Delete Employee";
}
<h4>Weet u zeker dat u "@Model.Username" wilt verwijderen? (ID: @Model.Id)</h4>


<form asp-action="DeleteEmployee">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a class="btn btn-primary" asp-action="EmployeeDetails" asp-route-id="@Model.Id">Back</a>
</form>
