@model Project_C.ViewModels.EmployeeCreateModel
@{

    ViewData["Title"] = "Edit Employee";
}

<h1>Bewerk "@Model.Username"</h1>

<style>
    * {
        box-sizing: border-box;
    }

    .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .column {
        float: left;
        width: 50%;
        padding: 5px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .PropertyName {
        font-family: Arial;
        font-size: 25px;
    }

    .DetailInfo {
        font-family: Arial;
        font-size: 18px;
    }
</style>


<div class="row">
    <form method="post" enctype="multipart/form-data" asp-action="EditEmployee" asp-controller="Employee">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="column">
            <table class="CostumMadeTable">
                <thead>
                    <tr>
                        <th><h2>Details</h2></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="PropertyName">Gebruikersnaam</td>
                    </tr>
                    <tr>
                        <td class="DetailInfo">
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="PropertyName">
                            Wachtwoord
                        </td>
                    </tr>
                    <tr>
                        <td class="DetailInfo">
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="PropertyName">
                            E-mail
                        </td>
                    </tr>
                    <tr>
                        <td class="DetailInfo">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="PropertyName">
                            Rol
                        </td>
                    </tr>
                    <tr>
                        <td class="DetailInfo">
                            <select asp-for=IsAdmin type="text" class="form-control" />
                            <option value="Administrator">Administrator</option>
                            <option value="Medewerker">Medewerker</option>
                            <span asp-validation-for="IsAdmin" class="text-danger"></span>
                        </td>
                    </tr>


                </tbody>
            </table>
            <input type="submit" value="Bijwerken" class="btn btn-success" />
            <a class="btn btn-primary" asp-controller="Employee" asp-action="EmployeeIndex">Terug</a>
        </div>

    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
