
<div id="demo" class="carousel slide" data-bs-ride="carousel">  
  <div class="carousel-inner">
    <div class="carousel-item active">
            <img src="~/images/HomePage/Sol Slide Show.jpg" alt="Img1" class="d-block" style="width:100%">
    </div>
    <div class="carousel-item">
            <img src="~/images/HomePage/SolSlideShow2.jpg" alt="Img2" class="d-block" style="width:100%">
    </div>
    <div class="carousel-item">
            <img src="~/images/HomePage/Saul.jpg" alt="New York" class="d-block" style="width:100%">
    </div>
    <div>
        <h6>
            In deze applicatie kunt u alle producten, leveranciers en gebruikers beheren. 
        </h6>
    </div>
  </div>
</div>