@model Project_C.Models.UserModels.LoginCredentials


<logdiv> 
    <div class="bkg"></div>
   
   
    
<div class="container">
    <div class="col-md-4">
        <link rel="stylesheet" href="~/css/loginpage.css">  
        <form method="post" enctype="multipart/form-data" asp-action="LoginPage" asp-controller="Access">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="email-group">
                <label asp-for="Email" class="control-label">E-mail</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="password-group">
                <label asp-for="Password" class="control-label">Wachtwoord</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
                <a class="LogIn">
                    <input type="submit" value="Inloggen" class="btn btn-success" />
                </a>
        </form>
    </div>
</div>

</logdiv>
<b class="logo" href="/"><img src="~/images/icon-admin.png"></b>
<div class="logobkg"></div>

