@model Project_C.ViewModels.ProductEditModel
@{
    //loads db context into this page
    var _context = ViewBag.Context as ApplicationDbContext;
    //query for all stores which have been selected for this product
    var storesOfProduct =
      from store in _context.Stores
      where store.Products.Any(x => x.Id == Model.Id)
      select store;
    var allstores = _context.Stores.ToList();
    ViewData["Title"] = "Edit Product";
}

<h1>Bewerken</h1>

<style>
    * {
        box-sizing: border-box;
    }

    .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .column {
        float: left;
        width: 50%;
        padding: 5px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .PropertyName {
        font-family: Arial;
        font-size: 25px;
    }

    .DetailInfo {
        font-family: Arial;
        font-size: 18px;
    }
</style>

<div class="row">
    <form method="post" enctype="multipart/form-data" asp-action="EditProduct" asp-controller="Product">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @{
            //<input type="hidden" zorgt ervoor dat het pad van de al bestaande foto niet null word als hij bij de post method komt.
        }
        <div class="column">
            <table class="CostumMadeTable">
                <thead>
                    <tr>
                        <th><h2>Details</h2></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="PropertyName">Naam</td>
                    </tr>
                    <tr>
                        <td class="DetailInfo">
                            <input asp-for="Name" class="form-control" placeholder="Naam" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="PropertyName">
                            Beschrijving
                        </td>
                    </tr>
                    <tr>
                        <td class="DetailInfo">
                            <input asp-for="Description" class="form-control" placeholder="plaats hier de beschrijving van het product" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="PropertyName">
                            Prijs
                        </td>
                    </tr>
                    <tr>
                        <td class="DetailInfo">
                            <input asp-for="Price" class="form-control" placeholder="bijvoorbeeld: 49.95" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="PropertyName">Plaats in huis</td>
                    </tr>
                    <tr>
                        <td>




                            <select name="PlaceAsString" asp-for=PlaceAsString type="text" class="form-control" />
                            <option value="Badkamer">Badkamer</option>
                            <option value="Woonkamer">Woonkamer</option>
                            <option value="Slaapkamer">Slaapkamer</option>
                            <option value="Gezondheid">Gezondheid</option>
                            <option value="Buiten">Buiten</option>
                            <span asp-validation-for="Place" class="text-danger"></span>
                        </td>
                        <a href="c:\users\ioann\source\repos\adminapplication\views\product\editproduct.cshtml">c:\users\ioann\source\repos\adminapplication\views\product\editproduct.cshtml</a>

                    </tr>

                </tbody>
            </table>
            <input type="submit" value="Bijwerken" class="btn btn-success" />
            <a class="btn btn-primary" asp-controller="Product" asp-action="ProductIndex">Terug </a>
        </div>

        <div class="column">
            <table class="CostumMadeTable">
                <thead>
                    <tr>
                        <th><h2>Media</h2></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="PropertyName">Afbeelding</td>
                    </tr>
                    <tr>
                        <td class="DetailInfo">
                            <input asp-for="Photo" class="form-control custom-file-input" />
                        </td>
                    </tr>
                    <tr>
                        <td class="PropertyName">Video</td>
                    </tr>
                    <tr>
                        <td class="DetailInfo">
                            <input asp-for="VideoLink" class="form-control" placeholder="Link naar video" />
                            <span asp-validation-for="VideoLink" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="PropertyName">Selecteer winkels</td>
                    </tr>
                                        <tr>
                    <td>
                    <select asp-for=Stores type="text" class="form-control" size="3" multiple/>
                            @foreach (var item in allstores)
                            {
                        <option value="@item.Id">@item.Name</option>
                            }
                    <span asp-validation-for="Stores" class="text-danger"></span>
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
