@model AdminApplication.ViewModels.ProductCreateViewModel

@{
    ViewData["Title"] = "Create Product";
}

<h1>Create new product for Database</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-action="Create" asp-controller="Home">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="name of product" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" placeholder="small description of the product" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="VideoLink" class="control-label"></label>
                <input asp-for="VideoLink" class="form-control" placeholder="Link to Video of Product" />
                <span asp-validation-for="VideoLink" class="text-danger"></span>
            </div>

            <label class="control-label">Upload Product Picture</label>
            <div class="input-group mb-1">
                <div class="custom-file">
                    <input asp-for="Photo" class="form-control custom-file-input" />
                </div>
            </div>



            <div class="form-group">
                <label asp-for="Place" class="control-label"></label>
                <select asp-for=Place type="text" class="form-control" />
                <option value="Badkamer">Badkamer</option>
                <option value="Slaapkamer">Slaapkamer</option>
                <option value="Keuken">Keuken</option>
                <option value="Woonkamer">Woonkamer</option>
                <option value="Buiten">Buiten</option>
                <span asp-validation-for="Place" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back </a>
            </div>


        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
