@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
    box-sizing: border-box;
}

.row {
    margin-left: -5px;
    margin-right: -5px;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
    top: 150px;
    left: 120px;
    position: absolute;
    margin: 12px 0;
    border-spacing: 2px;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 2px 12px rgba(32,32,32,.5);
    background: white;
    border-spacing: 20px;
}

td, tr {
    width: 10px;
    height: 60px;
}

.table {
    width: 1600px;
    border-spacing: 20px;
    opacity: 1;
}

thead {
    font-size: 23px;
    background-color: #deae62;
    color: #ffffff;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

    .table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .table tbody tr:last-of-type {
        border-bottom: 8px solid #deae62;
    }

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.PropertyName {
    font-family: Arial;
    font-size: 25px;
}

.DetailInfo {
    font-family: Arial;
    font-size: 18px;
}

.btn.btn-bewerk {
    position: absolute;
    height: 40px;
    width: 160px;
    right: 850px;
    background: rgba(0, 100, 200);
    border: 0px #f8dd85;
    color: black;
    text-align: center;
    place-content: center;
    place-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 0px;
    cursor: pointer;
    line-height: 35px;
    transition: .5s;
    font-size: medium;
    border: 0;
    box-shadow: #ffffff 0 -25px 18px -14px inset,rgba(4, 187, 99, .15) 0 1px 1px,#f3f3f3 0 2px 4px,black 0 4px 8px,#f3f3f3 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
}

.btn.btn-verwijder {
    position: absolute;
    height: 40px;
    width: 170px;
    right: 600px;
    background: rgba(200, 20, 0);
    border: 0px #f8dd85;
    color: black;
    text-align: center;
    place-content: center;
    place-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 0px;
    cursor: pointer;
    line-height: 35px;
    transition: .5s;
    font-size: medium;
    border: 0;
    box-shadow: #ffffff 0 -25px 18px -14px inset,rgba(4, 187, 99, .15) 0 1px 1px,#f3f3f3 0 2px 1px,black 0 4px 8px,#f3f3f3 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    visibility: hidden;
}

#click {
    display: none;
}



.click-me {
    /*    display: block;*/
    position: absolute;
    width: 170px;
    height: 40px;
    right: 600px;
    background: rgba(200, 20, 0);
    border: 0px #aa3131;
    color: black;
    text-align: center;
    place-content: center;
    place-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 0px;
    cursor: pointer;
    line-height: 35px;
    transition: .5s;
    font-size: medium;
    box-shadow: #ffffff 0 -25px 18px -14px inset,rgba(4, 187, 99, .15) 0 1px 2px,#f3f3f3 0 2px 4px,black 0 4px 8px,#f3f3f3 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
}


    .click-me:hover {
        color: white;
    }

.content /*midden in popup*/ {
    position: fixed;
    top: 500px;
    left: 900px;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    width: 600px;
    height: 180px;
    background: white;
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,4);
    z-index: 2;
}

#text {
    position: fixed;
    text-align: center;
}

#click:checked ~ .content {
    opacity: 1;
    visibility: visible;
}

.backbutton {
    position: absolute;
    width: 170px;
    height: 40px;
    right: 100px;
    top: 120px;
    background: rgba(0, 200, 70);
    border: 0px #aa3131;
    color: black;
    text-align: center;
    place-content: center;
    place-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 0px;
    cursor: pointer;
    line-height: 35px;
    transition: .5s;
    font-size: medium;
    text-decoration: none;
    box-shadow: #ffffff 0 -25px 18px -14px inset,rgba(4, 187, 99, .15) 0 1px 2px,#f3f3f3 0 2px 4px,black 0 4px 8px,#f3f3f3 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
}

.btn.btn-defverwijder {
    position: absolute;
    width: 180px;
    height: 40px;
    right: 350px;
    top: 110px;
    background: rgba(200, 20, 0);
    border: 0px #aa3131;
    color: black;
    text-align: center;
    place-content: center;
    place-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 0px;
    cursor: pointer;
    line-height: 30px;
    transition: .5s;
    font-size: medium;
    box-shadow: #ffffff 0 -25px 18px -14px inset,rgba(4, 187, 99, .15) 0 1px 2px,#f3f3f3 0 2px 4px,black 0 4px 8px,#f3f3f3 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
}

p {
    font-size: large;
}



        .navigation ul terug a .icon /* opmaak van de thuisknoppen */ {
            position: absolute;
            top: 10px;
            display: block;
            line-height: 1.5em;
            white-space: nowrap;
            font-size: 7.5em;
            text-align: center;
            transition: 0.5s;
            color: #deae62;
            padding-left: 25px;
            margin: 2px;
            width: 200px;
        }

    .navigation ul terug:hover a .icon /* hover van de thuisknoppen */ {
        transform: translateY(-35px);
    }

    .navigation ul terug a .text /* de lettergrootte van de thuisknoppen / posities */ {
        position: absolute;
        color: red;
        font-size: 1.75em;
        font-weight: bold;
        letter-spacing: 0.10em;
        transition: 0.5s;
        bottom: -5px;
        left: 11px;
        opacity: 0;
    }

    .navigation ul terug:hover a .text /*woorden verstoppen en tevoorschijn halen als hover op knop*/ {
        opacity: 0;
        transform: translateY(10px);
    }

.Teruggaan {
    position: absolute;
    top: -10px;
    left: 40px;
}